@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Manrope:wght@200;300;400;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300;1,400;1,700&family=Tajawal:wght@300;500;800&display=swap');
body{

    font-family: 'Lato', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
scroll-behavior: smooth;
}
.header{

padding: 10px;
background:linear-gradient(90deg ,#537cbb ,#485e95);
display: flex;
justify-content:space-between;
align-items: center;
position: fixed;
top: 0;
right: 0;

left: 0;
width: 100%;


}
.header h1{
    text-transform: capitalize;
    font-family: cursive;
    color: white;

}
.header nav ul{
    list-style: none;

    display: flex;
    gap: 13px;

}
.header nav ul li{
    padding: 10px;
position: relative;
}
.header nav ul li::after{
content: '';
position: absolute;
background-color: #fff;
height: 3px;
width: 100%; 
left:0 ;
bottom: -12px;
width: 0;
height: 3px;
transition: .3s ease;

}
.header nav ul li:hover::after ,a{
    width: 100%;


}
.header nav li:hover a{
color:#888;
}
.header nav ul li a{
    text-decoration: none;text-transform: capitalize;
    color: #fff;
    transition: .1s;

}
.header nav ul li a:hover{

    color:#872
}
.header i{
    display: none;
    font-size: 1.4em;
    color: #fff;


}

@media(max-width:767px){

    .header i{
        display: block;
    }
    nav{
        position: absolute;
        top: 62px;
        background:linear-gradient(90deg ,#537cbb ,#485e95);
        width: 100%;left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 330px;
transition: .5s;
transform: translateY(-1000%);


    }
    .header nav ul{
        flex-direction: column;
     width: 100%;
    }
    .header nav ul li{
        background-color: #fff;
        width: 100%;
        align-items: center;
        cursor: pointer;
        text-align: center;

    }
    .header nav ul li a{
        text-align: center;
        color: #222;

    }
    .header nav ul li::after{
        content: '';
        position: absolute;
        background-color:rgba(0, 0, 0, .2);
        height: 100%;
        width: 100%; 
        left:0 ;
        bottom: 0;
        width: 0;
        right: 0;
        top: 0;

        transition: .5s ease;
        
        }
}
.header nav.show{
    transform: translateY(0);
}
.home{
  
    background-image: url("./images.jpg");
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;


}
.home {
    display: flex;
    align-items: center;
    color: #fff;
    

}
.home .content{

    width: 55%;
    height: 90%;
    margin-top: 100px;

    margin-left: 90px;

}
@media(max-width:767px){
    .home{
    background-position: right;

    }
    .home .content{
        width: 80%;

    }
}
.home .content h2{


    font-size: 42px;
    text-transform: capitalize;
    margin: 10px;
    padding: 10px;
    font-family:cursive ;



}
.home .content p{



    line-height: 1.7;
    word-spacing: .3em;
    text-transform: capitalize;

}
.content .btn{

    padding: 10px 30px;
     background-color: #537cbb;
     width: 40%;
     text-align: center;
     margin-top: 10px;
     border-radius: 10px;
     cursor: pointer;


}
.core{
    background-color: #444;
    min-height: 100vh;
    padding: 20px;
color: #fff;

}
.core > h2{
text-align: center;
margin: 10px;
margin-bottom: 50px;

text-transform: capitalize;
font-size: 2.3em;


}
.core .img-container{
    flex: 2;
}
.core .img-container img{
  width: 100%;
  border-radius: 10px;
  border: 10px solid #537cbb;
  height:400px;
}

.core .container{
    display: flex;
    gap: 30px;
    align-items: flex-start;
    width: 100%;
    margin-top: 100px;

}
@media(max-width:800px){
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .container .img-container{
       width: 100%;

    }
    .about{
        flex-direction: column;

    }
    .about img{
        width: 100%;
    }
}
.core .container .core-content{
    flex: 3;
}

.core-content{
    gap: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.core-content .item{
    padding: 20px;
background-color: #333;
box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
border-radius: 10px;
transition: .4s;
cursor: pointer;

}
.core-content .item:hover{
    background-color: #485e95;
}
.core-content .item i{
    color: #537cbb;
    padding: 4px;
    font-size: 1.3em;
}

.about{
    width: 100%;
    min-height: 100vh;
    background-color: #444;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
color: #fff;
border-top: 3px solid #537cbb;

}
.about img{
flex: 2;
border: 10px solid #485e95;
border-radius:10px ;
height: 500px;


}
.about .about-content{
    flex: 3;
    
}
.about .about-content h2{
text-transform: capitalize;
margin-top: -10px;
font-size: 2.2em;

}
.about .about-content p{
    padding: 10px;
text-transform: capitalize;

}
.icon{
    margin: 7px;

}
.icon i{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #485e95;

text-align: center;
padding-top: 8px;
margin-right: 5px;
margin-bottom: 4px;

}
p.btn{
    padding: 10px;
    width: 30%;
    background-color: #485e95;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;

}
.features{
  background-color: #444;
  color: #fff;
  padding: 20px;

}
.features >h2{
  margin: 50px;
  text-align: center;
  font-size: 44px;
  text-transform: capitalize;

}
.features .container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px , 1fr));
  gap: 14px;

}
.features .container .box{
  padding: 10px;
  text-align: center;
  border: 8px solid #fff;
  border-radius: 10px;

}
.features .container .box i{

width: 70px;
height: 70px;
display: block;
margin: auto;
border-radius: 50%;
background-color: #485e95;
text-align: center;
padding-top: 20px;
font-size: 29px;

}
.features .container .box h2{

  text-transform: capitalize;

}
.features .container .box p{
font-size: 13px;
margin-top: 10px;
  
}
.product{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  color: #fff;

}
.product .container{
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));

gap: 20px;
}
 .product .container .box{
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;


 }
 .product .container .box img{
  flex: 1;
  width: 40%;
  height: 200px;

 }
 .product .container .box img{
  padding-left: 30px;
  display: block;

  border-right: 2px solid #485e95 ;
 }
 .product .container .box .content{
  width: 100%;
  margin-left: 17px;
 }

 .product .container .box .content p{
padding: 10px;
color: #485e95;
 }
 .product .container .box .content h3{
text-transform: capitalize;
font-family: cursive;
padding: 10px;

 }
 .product .container .box .content .btn{
color: #fff;
width: 80%;

 }

.conatct{
  width: 100%;
  height: 100vh;
  background-color: #444;
display: flex;
align-items: center;
justify-content: center;
color: #fff;


}
.conatct .conatiner{
  width: 89%;
display: flex;
gap: 20px;


}
@media(max-width:767px){
  .conatct .conatiner{
    flex-direction: column-reverse;
  }
}
.conatct .left{
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #333; border-radius: 10px;


}
.conatct  .left input{
  display: block;
  width: 100%; margin-bottom: 50px;
padding: 10px;
border: 0;
outline: none;
background-color: transparent;
border-bottom: 2px solid #fff;

text-transform: capitalize;
font-size: 1.4em;
color: #fff;

} 
.conatct  .left textarea{
  outline: none;
  border: none;
  background-color: transparent;
  margin-top: -29px;
  width: 100%;
  height: 200px;
  color: #fff;
  padding: 20px;
  font-size: 2em;
  resize: none;
}
.conatct  .left textarea::placeholder{
  color: #fff;


}

.conatct  .left p{
  width: 100%;
  margin: auto;
  cursor: pointer;

}
.conatct .right{
  padding: 10px;
  text-align: left;
  flex: 1;
  margin-top: 50px;

} 
.conatct .right h2{
  text-transform: capitalize;
  margin-top: -10px;
  padding: 10px;

}
.conatct .right p{
  padding-left: 10px;
  padding-bottom: 10px;
}
.conatct .right .item{
padding: 3px;
} 
.conatct .right .item i{
  display: inline-block;
  width: 30px;
  height: 30px;
background-color: #537cbb;border-radius: 50%;
text-align: center;
padding-top: 5px;
margin-right: 4px;
}
.footer{
  background-color: #333;
  color: #fff;

}
.footer .container{
  display:flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
}
.footer .container h2{
  font-size: 50px;
  padding: 10px;
  font-family: cursive;
  text-transform: capitalize;
} 
.footer .container i{
  font-size: 34px;
  display: inline-block;
  padding: 10px;
  color: #537cbb;
}
.end{
  background-color: #222;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  text-transform: capitalize;

}
.end span{
  font-family: cursive;
  color: #537cbb;
}